.container{
    width:90vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left{
    width: 100%;
    background-color: rgb(235, 216, 190);
    display: flex;
    justify-content: center;
    
}
.right{
    width: 100%;
    min-height: 750px;
    background-color: rgb(181, 219, 231);
    display: flex;
    justify-content: center;
}
.form{
    border-radius: 1rem;
    background-color: white;
    padding: 1rem 1rem 2rem;
    margin: 3rem 2rem 2rem 1rem;
    
}
.table{
    width: 90%;
    padding: 1rem 1rem 2rem;
    margin: 3rem 2rem 3rem 1rem
    
}
